{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
<br><br><br><br><br><br><br><br>
    <div align="center" class="formulaire uk-width-1-2  uk-card uk-card-default uk-card-body uk-align-center " style="margin-bottom:44px">
            <h1>Genre</h1>
		<table class="uk-table uk-width-1-2 uk-table-justify">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ genre.nom }}</td>
            </tr>
        </tbody>
    </table>

<a class="uk-button uk-button-secondary" href="{{ path('genre_index') }}" uk-icon="list" uk-tooltip="back to list"></a>
		{% if app.user %}
			{% if app.user.roles[0]=="ROLE_ADMIN"  %}
				<a href="{{ path('genre_edit', {'id': genre.id}) }}" class="uk-button uk-button-secondary" uk-icon="pencil" uk-tooltip="edit"></a>
			{% endif %}
		{% endif %}
    {{ include('genre/_delete_form.html.twig') }}
    </div>
    <br><br><br><br><br><br>
{% endblock %}
